body {
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#monario {
    color: #7F7F7F;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-size: 144px;
    text-align: center;
}
